Django>=5.0,<5.2
python-dotenv>=1.0.0
psycopg[binary]>=3.1.0
whitenoise>=6.6.0
gunicorn>=22.0.0
django-ratelimit>=4.1.0
django-csp>=3.8
redis>=5.0,<6.0
django-otp>=1.5.0
pyotp>=2.10.0
qrcode>=7.4.2
Pillow>=10.3.0
django-debug-toolbar>=4.3.0
