{% if label %}
    {% include "components/core/badge.html" with label=label variant=variant %}
{% elif status == 'pending' %}
    {% include "components/core/badge.html" with label="يٌراجع" variant="warning" %}
{% elif status == 'approved' %}
    {% include "components/core/badge.html" with label="معتمد" variant="success" %}
{% elif status == 'rejected' %}
    {% include "components/core/badge.html" with label="مرفوض" variant="danger" %}
{% else %}
    {% include "components/core/badge.html" with label=status variant="default" %}
{% endif %}
